html {
  height: 100%;
  width: 100%;
}
#todo{
  margin: 12px;
}
.flex-1{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.table{
  margin-top: 200px;
}
.center{
  display: flex;
    justify-content: center;
    align-items: center;
  margin:12px
}
.finish{
  display: flex;
  justify-content: center;
  align-items:center;
  width: 100%;
  height: 200px;
  /* background-color: aliceblue; */
  border-radius: 20px;
}